@import "../../scss/variables";

.controller {
  position: absolute;
  bottom: 20%;
  // left: 0;
  left: $containerSize;

  @media (max-width: 600px) {
    left: 0;
    bottom: 0;
  }

  &__pagination {
    span {
      font-size: 16px;
      font-weight: 700;
      color: #42567a;
    }
  }
  &__button {
    margin: 10px 0 0 0;
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 40px;
      height: 40px;
      outline: none;
      border: none;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: #ffffff2d;
      border: 1px solid #a1aabe;
      margin: 0 10px 0 0;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      user-select: none;

      &:hover {
        background-color: #fff;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
      }

      img {
        display: inline-block;
        width: 17px;
        cursor: pointer;
      }

      &:not(:first-child) {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
      }

      @media (max-width: 710px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__disabled {
    pointer-events: none;
    opacity: 0.35;
  }
}
