@import "../../../scss/variables";

.circle__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: rotate(calc(360deg / 6 * var(--i)));
  -webkit-transform: rotate(calc(360deg / 6 * var(--i)));
  -moz-transform: rotate(calc(360deg / 6 * var(--i)));
  -ms-transform: rotate(calc(360deg / 6 * var(--i)));
  -o-transform: rotate(calc(360deg / 6 * var(--i)));
  transform-origin: 202px;
  cursor: pointer;

  @media (max-width: 1050px) {
    transform-origin: 152px;
  }
  &__point {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 6px;
    height: 6px;
    background-color: #42567a;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transform: rotate(calc(360deg / -6 * var(--i)));
    -webkit-transform: rotate(calc(360deg / -6 * var(--i)));
    -moz-transform: rotate(calc(360deg / -6 * var(--i)));
    -ms-transform: rotate(calc(360deg / -6 * var(--i)));
    -o-transform: rotate(calc(360deg / -6 * var(--i)));

    z-index: 4;

    span {
      font-weight: 700;
      font-size: 16px;
      color: $text;
    }

    &:hover {
      position: absolute;
      width: 46px;
      height: 46px;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      background-color: $bg;
      border: 1px solid #303e5880;
    }
    &__label {
      position: absolute;
      left: 140%;
      top: 15%;

      font-size: 20px;
      font-weight: 700;
      color: $text;
      @media (max-width: 1050px) {
        font-size: 16px;
      }
    }
    &__active {
      width: 46px;
      height: 46px;
      background-color: $bg;
      border: 1px solid #303e5880;
    }
  }
}
